html {
    scroll-behavior: smooth;
}

body{
    background-color: #23253A;
}
#icon{
    color: white;
}
.inf{
    color: #17C5D0;
}
#s-one{
    padding-bottom: 50px;
}
#m-one{
    padding-bottom: 50px;
}
